/.idea



/backend/target/classes/com/example/dictionary/controllers/AccountController.class
/backend/target/test-classes/com/example/dictionary/controllers/AccountControllerTest.class
/backend/src/main/resources/application.properties
/backend/target/classes/application.properties
/backend/target/classes/application.properties.origin
/backend/target/classes/com/example/dictionary/controllers/AuthenticationController.class
/backend/target/classes/com/example/dictionary/dto/AuthenticationDTO.class
/backend/target/classes/com/example/dictionary/services/AuthenticationService.class
/backend/backend.iml
/backend/target/surefire-reports/com.example.dictionary.controllers.AccountControllerTest.txt
/backend/target/surefire-reports/com.example.dictionary.controllers.HomeControllerTest.txt
/backend/target/surefire-reports/com.example.dictionary.DictionaryApplicationTests.txt
/backend/target/classes/com/example/dictionary/util/Converter.class
/backend/target/classes/com/example/dictionary/config/CorsConfig.class
/backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/backend/target/classes/com/example/dictionary/entities/Dictionary.class
/backend/target/classes/com/example/dictionary/DictionaryApplication.class
/backend/target/test-classes/com/example/dictionary/DictionaryApplicationTests.class
/backend/target/classes/com/example/dictionary/controllers/DictionaryController.class
/backend/target/classes/com/example/dictionary/dto/DictionaryDTO.class
/backend/target/classes/com/example/dictionary/util/errors/DictionaryNotCreatedException.class
/backend/target/classes/com/example/dictionary/repositories/DictionaryRepository.class
/backend/target/classes/com/example/dictionary/services/DictionaryService.class
/backend/target/classes/com/example/dictionary/util/ErrorResponse.class
/backend/HELP.md
/backend/target/classes/com/example/dictionary/controllers/HomeController.class
/backend/target/test-classes/com/example/dictionary/controllers/HomeControllerTest.class
/backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/backend/target/classes/com/example/dictionary/config/JWTFilter.class
/backend/target/classes/com/example/dictionary/security/JwtUtil.class
/backend/src/main/main.iml
/backend/target/classes/com/example/dictionary/entities/Person.class
/backend/target/classes/com/example/dictionary/security/PersonDetails.class
/backend/target/classes/com/example/dictionary/services/PersonDetailsService.class
/backend/target/classes/com/example/dictionary/dto/PersonDTO.class
/backend/target/classes/com/example/dictionary/util/errors/PersonNotCreatedException.class
/backend/target/classes/com/example/dictionary/util/errors/PersonNotExistsException.class
/backend/target/classes/com/example/dictionary/repositories/PersonRepository.class
/backend/target/classes/com/example/dictionary/services/PersonService.class
/backend/target/classes/com/example/dictionary/util/validators/PersonValidator.class
/backend/target/classes/com/example/dictionary/config/SecurityConfig.class
/backend/src/test/test.iml
/backend/target/surefire-reports/TEST-com.example.dictionary.controllers.AccountControllerTest.xml
/backend/target/surefire-reports/TEST-com.example.dictionary.controllers.HomeControllerTest.xml
/backend/target/surefire-reports/TEST-com.example.dictionary.DictionaryApplicationTests.xml
/backend/target/classes/com/example/dictionary/entities/Word.class
/backend/target/classes/com/example/dictionary/controllers/WordController.class
/backend/target/classes/com/example/dictionary/dto/WordDTO.class
/backend/target/classes/com/example/dictionary/repositories/WordRepository.class
/backend/words.txt
/backend/target/classes/com/example/dictionary/services/WordService.class
/backend/target/
/backend/build/
/backend/.gradle/
