.create-form {
    width: 400px;
    height: 200px;
    background-color: wheat;
    border-radius: 15px;
}

.block {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.title{
    width: 100%;
    text-align: center; 
    border-bottom: 1px solid black;
    height: 30px;
}

.center-line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.button{
    position: relative;
    width: 70%;
}